<% layout('layouts/boilerplate') %>


<style>
  .youtube {
    border: 1px solid #146e1d; /* YouTube red border */
    border-radius: 12px;
    padding: 4px;
    background-color: white; /* Optional for better contrast */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
    overflow: hidden;
    max-width: 100%; /* ensures responsiveness */
    display: inline-block;
  }

  .youtube img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px; /* Optional: inner rounded corners */
  }

  .video-holder{
    background-color: #146e1d !important;
  }
</style>


  <style>

    .marquee-wrapper {
      overflow: hidden;
      position: relative;
    }
    .marquee {
      display: flex;
      width: max-content;
      animation: scroll 40s linear infinite;
    }
    .product-card {
      flex: 0 0 300px;
      width: 300px;
      margin: 0 10px;
      background: #fff;
      border-radius: 10px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
      transition: transform 0.3s;
      min-height: 440px; /* 🔁 Common height */
    }
    .product-card:hover {
      transform: scale(1.03);
       border: 1px solid #7fbaf8;
      
    }
    .product-card img {
      width: 100%;
      border-radius: 10px 10px 0 0;
    }
    .product-card h4 {
      margin: 15px;
      font-size: 18px;
    }
    .product-card p {
      margin: 0 15px 15px;
      font-size: 14px;
      color: #555;
    }
    .read-more {
      display: block;
      margin: 0 15px 15px;
      color: #007bff;
      text-decoration: none;
      font-weight: bold;
    }

    .product-link{
        text-decoration: none;
        color: inherit;
    }

    @keyframes scroll {
      0% { transform: translateX(0); }
      100% { transform: translateX(-50%); }
    }

    /* Responsive */
    @media (max-width: 768px) {
      .product-card {
        flex: 0 0 90vw;
        min-height: 420px;
      }
      .marquee {
        animation-duration: 40s;
      }
    }
  </style>




        <!-- start about-us-section -->
        <section class="about-us-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-md-6">
                        <div class="section-title">
                            <span>About us</span>
                            <h2>We set the standards others try to live up to.</h2>
                        </div>
                        <div class="details">
                           <p id="short-about">
  In India, Patil Machines Pvt Ltd was the first to develop a Plodder for Toilet Soap...
  <a href="#" id="read-more-about" style="color: blue; font-size: 0.9rem;">Read More</a>
</p>

<p id="full-about" style="display: none;">
  In India, Patil Machines Pvt Ltd was the first to develop a Plodder for Toilet Soap as well as Laundry soap Plant in the Year 1965. Since then the convoy of Machinery and Solutions to numerous clients within the Nation as well as abroad has kept us on the leading position in the industry.<br><br>
  We provide cutting edge solutions and state-of- art equipments to various applications like, Toilet Soap and Laundry Soap Plant, Detergent Cake Plant, Detergent Powder Machinery, Fatty Acid Plant, Sulphonation Plant, Oil Refinery Plant, Saponification – Noodle Plant. We specialize in manufacture, installation and commissioning of these projects as well as glycerine distillation plant and allied equipments.<br><br>
  Our commitment to the continuously improving technology and consistency in quality has become a tradition to cater to the requirement of multinational organisation in this field.<br><br>
  Our experience encompasses the areas such as basic design, detailed engineering, supply of the plant and equipments on turnkey basis and also erection and commissioning. Precision Machinists designers and engineers have kept themselves abreast with the latest technologies around the world. They research with the leading manufacturers and clients to determine the current and future needs of these industries. Such requirements have been studied with great care, concentrating on the difficulties commonly encountered by the actual users. The result of these activities is what results in new levels of productivity, efficiency and reliability.
</p>

                            <div class="clearfix">
                                <ul>
                                    <li><i class="ti-check"></i> Plodder tech pioneer since 1965</li>
                                    <li><i class="ti-check"></i> Soap & detergent plant solutions</li>
                                </ul>
                                <ul>
                                    <li><i class="ti-check"></i> Turnkey project expertise</li>
                                    <li><i class="ti-check"></i> Complete setup & commissioning</li>
                                </ul>
                            </div>
                            <div class="btns">
                                <a href="services.html" class="theme-btn">Our Services</a>
                                <a href="/contact" class="theme-btn-s3">Contact with us</a>
                            </div>
                        </div>
                    </div>


 <div class="col col-md-6">
  <div class="right-col">
    <div class="img-holder youtube">
      <img src="assets/images/about3.jpg" alt="YouTube Logo">
    </div>
    <div class="video-holder">
      <a href="https://www.youtube.com/@precisionmachinists3633" target="_blank">
        <i class="fi flaticon-play-button"></i> Visit our official YouTube channel
      </a>
    </div>
  </div>
</div>

                </div>
            </div> <!-- end container -->
        </section>
        <!-- end about-us-section -->


        <!-- start service-section -->
        <section class="service-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-md-6">
                        <div class="section-title-s2">
                            <span>Our Products</span>
                            <h2>Delivering the best products and industrial services</h2>
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="title-text">
                            <p>Tailored engineering solutions for the soap, detergent, and chemical industries.
Built on decades of experience, driven by innovation.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="service-grids clearfix">


<div class="marquee-wrapper">
  <div class="marquee">

    

    <!-- Card 1 -->
    <a href="#dual-color-plodder" class="product-link">
      <div class="product-card">
        <img src="assets/images/services/img-1.jpeg" alt="">
        <h4>Roll Mill</h3>
      <p>Ensures uniform mixing of soap mass with refined texture.</p>
       <!--<span class="read-more">Read More</span> --> 
      </div>
    </a>

    <!-- Card 2 -->
    <a href="#blank-title" class="product-link">
      <div class="product-card">
        <img src="assets/images/services/img-2.jpeg" alt="">
        <h4>Vacuum Plodder</h4>
        <p>High precision machinery unit for soap making.</p>
      </div>
    </a>

    <!-- Card 3 -->
    <a href="#pilot-plodder" class="product-link">
      <div class="product-card">
        <img src="assets/images/services/img-3.jpeg" alt="">
        <h4>Pilot Vacuum Spray Dryer</h4>
        <p>Small-scale soap development machine.</p>
      </div>
    </a>

    <!-- Card 4 -->
    <a href="#hand-stamping-machine" class="product-link">
      <div class="product-card">
        <img src="assets/images/services/img-4.jpeg" alt="">
        <h4>Detergent Cake & Powder Skid Mounted Pilot Plant</h4>
        <p>Compact setup for small-scale production and testing of detergent cakes and powders.</p>
      </div>
    </a>

    <!-- Card 5 -->
    <a href="#mini-hydro-stamping" class="product-link">
      <div class="product-card">
        <img src="assets/images/services/img-5.jpeg" alt="">
        <h4>Cage Mill</h4>
        <p>Grinds and blends raw materials into a uniform powder for detergent production.</p>
      </div>
    </a>

    <!-- Card 6 -->
    <a href="#pedal-stamping" class="product-link">
      <div class="product-card">
        <img src="assets/images/services/img-6.jpeg" alt="">
        <h4>Vacuum System</h4>
        <p>Removes air and moisture to ensure dense, smooth & defect-free soap bars.</p>
      </div>
    </a>

    <!-- Card 7 -->
    <a href="#dual-color-plodder" class="product-link">
      <div class="product-card">
        <img src="assets/images/services/img-7.jpeg" alt="">
        <h4>Pneumatic Stamping Machine</h4>
        <p>Air-powered machine for fast and consistent soap bar stamping</p>
      </div>
    </a>

    <!-- Card 8 -->
    <a href="#blank-title" class="product-link">
      <div class="product-card">
        <img src="assets/images/services/img-8.jpeg" alt="">
        <h4>Pilot Sulphonation Plant</h4>
        <p>Compact unit for testing and development of sulphonated surfactants.</p>
      </div>
    </a>

    <!-- Card 9 -->
    <a href="#pilot-plodder" class="product-link">
      <div class="product-card">
        <img src="assets/images/services/img-9.jpeg" alt="">
        <h4>Pilot Detergent Cake Skid Mounted</h4>
        <p>Portable setup for small-scale detergent cake formulation and trials.</p>
      </div>
    </a>

    <!-- Card 10 -->
    <a href="#hand-stamping-machine" class="product-link">
      <div class="product-card">
        <img src="assets/images/services/img-10.jpeg" alt="">
        <h4>Soap Dies</h4>
        <p>We design all types of custom dies for soap and detergent industry applications.</p>

      </div>
    </a>

    <!-- Card 11 -->
    <a href="#mini-hydro-stamping" class="product-link">
      <div class="product-card">
        <img src="assets/images/services/img-11.jpeg" alt="">
        <h4>Plough Shear Mixer</h4>
        <p>High-efficiency mixer for uniform blending of powder and semi-solid materials.</p>
      </div>
    </a>

    <!-- Card 12 -->
    <a href="#pedal-stamping" class="product-link">
      <div class="product-card">
        <img src="assets/images/services/img-12.jpeg" alt="">
        <h4>Cyclone Seperator with Basket</h4>
        <p>Separates dust and fine particles from air or product stream using centrifugal force.</p>
   
      </div>
    </a>

    <!-- Card 13 -->
    <a href="#pedal-stamping" class="product-link">
      <div class="product-card">
        <img src="assets/images/services/img-13.jpeg" alt="">
        <h4>Toilet Soap Dies</h4>
        <p>Precision dies designed for branding and shaping toilet soap bars.</p>

      </div>
    </a>

    <!-- Card 14 -->
    <a href="#pedal-stamping" class="product-link">
      <div class="product-card">
        <img src="assets/images/services/img-14.jpeg" alt="">
        <h4>Belt Conveyer</h4>
        <p>Smooth and continuous material transfer system for soap production lines.</p>
      </div>
    </a>

    <!-- Card 15 -->
    <a href="#pedal-stamping" class="product-link">
      <div class="product-card">
        <img src="assets/images/services/img-15.jpeg" alt="">
        <h4>Soap Line Chillers</h4>
        <p>Industrial chillers for efficient cooling in soap extrusion and stamping processes.</p>
      </div>
    </a>



    <!-- Repeat cards for infinite scroll effect -->

 

     <!-- Card 1 -->
    <a href="#roll-mill" class="product-link">
      <div class="product-card">
        <img src="assets/images/services/img-1.jpeg" alt="">
        <h4>Roll Mill</h3>
      <p>Ensures uniform mixing of soap mass with refined texture.</p>
       <!--<span class="read-more">Read More</span> --> 
      </div>
    </a>

    <!-- Card 2 -->
    <a href="#vacuum-plodder" class="product-link">
      <div class="product-card">
        <img src="assets/images/services/img-2.jpeg" alt="">
        <h4>Vacuum Plodder</h4>
        <p>High precision machinery unit for soap making.</p>
      </div>
    </a>

    <!-- Card 3 -->
    <a href="#pilot-vacuum" class="product-link">
      <div class="product-card">
        <img src="assets/images/services/img-3.jpeg" alt="">
        <h4>Pilot Vacuum Spray Dryer</h4>
        <p>Small-scale soap development machine.</p>
      </div>
    </a>

    <!-- Card 4 -->
    <a href="#detergent-cake" class="product-link">
      <div class="product-card">
        <img src="assets/images/services/img-4.jpeg" alt="">
        <h4>Detergent Cake & Powder Skid Mounted Pilot Plant</h4>
        <p>Compact setup for small-scale production and testing of detergent cakes and powders.</p>
      </div>
    </a>

    <!-- Card 5 -->
    <a href="#cage-mill" class="product-link">
      <div class="product-card">
        <img src="assets/images/services/img-5.jpeg" alt="">
        <h4>Cage Mill</h4>
        <p>Grinds and blends raw materials into a uniform powder for detergent production.</p>
      </div>
    </a>

    <!-- Card 6 -->
    <a href="#vacuum-system" class="product-link">
      <div class="product-card">
        <img src="assets/images/services/img-6.jpeg" alt="">
        <h4>Vacuum System</h4>
        <p>Removes air and moisture to ensure dense, smooth & defect-free soap bars.</p>
      </div>
    </a>

    <!-- Card 7 -->
    <a href="stamping-machine" class="product-link">
      <div class="product-card">
        <img src="assets/images/services/img-7.jpeg" alt="">
        <h4>Pneumatic Stamping Machine</h4>
        <p>Air-powered machine for fast and consistent soap bar stamping</p>
      </div>
    </a>

    <!-- Card 8 -->
    <a href="#sulphonation-plant" class="product-link">
      <div class="product-card">
        <img src="assets/images/services/img-8.jpeg" alt="">
        <h4>Pilot Sulphonation Plant</h4>
        <p>Compact unit for testing and development of sulphonated surfactants.</p>
      </div>
    </a>

    <!-- Card 9 -->
    <a href="#pilot-detergent" class="product-link">
      <div class="product-card">
        <img src="assets/images/services/img-9.jpeg" alt="">
        <h4>Pilot Detergent Cake Skid Mounted</h4>
        <p>Portable setup for small-scale detergent cake formulation and trials.</p>
      </div>
    </a>

    <!-- Card 10 -->
    <a href="#soap-dies" class="product-link">
      <div class="product-card">
        <img src="assets/images/services/img-10.jpeg" alt="">
        <h4>Soap Dies</h4>
        <p>We design all types of custom dies for soap and detergent industry applications.</p>

      </div>
    </a>

    <!-- Card 11 -->
    <a href="#shear-mixer" class="product-link">
      <div class="product-card">
        <img src="assets/images/services/img-11.jpeg" alt="">
        <h4>Plough Shear Mixer</h4>
        <p>High-efficiency mixer for uniform blending of powder and semi-solid materials.</p>
      </div>
    </a>

    <!-- Card 12 -->
    <a href="#cyclone-seperator" class="product-link">
      <div class="product-card">
        <img src="assets/images/services/img-12.jpeg" alt="">
        <h4>Cyclone Seperator with Basket</h4>
        <p>Separates dust and fine particles from air or product stream using centrifugal force.</p>
   
      </div>
    </a>

    <!-- Card 13 -->
    <a href="#toilet-soap-dies" class="product-link">
      <div class="product-card">
        <img src="assets/images/services/img-13.jpeg" alt="">
        <h4>Toilet Soap Dies</h4>
        <p>Precision dies designed for branding and shaping toilet soap bars.</p>

      </div>
    </a>

    <!-- Card 14 -->
    <a href="#belt-conveyer" class="product-link">
      <div class="product-card">
        <img src="assets/images/services/img-14.jpeg" alt="">
        <h4>Belt Conveyer</h4>
        <p>Smooth and continuous material transfer system for soap production lines.</p>
      </div>
    </a>

    <!-- Card 15 -->
    <a href="#soap-line-chillers" class="product-link">
      <div class="product-card">
        <img src="assets/images/services/img-15.jpeg" alt="">
        <h4>Soap Line Chillers</h4>
        <p>Industrial chillers for efficient cooling in soap extrusion and stamping processes.</p>
      </div>
    </a>

   

  </div>
</div>


                        </div>

                        <div class="view-all">
                            <p>Please check out our <a href="#">All Products</a></p>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end service-section -->


        <!-- start why-choose-section -->
        <section class="why-choose-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
                        <div class="section-title-s3">
                            <span>Our Features</span>
                            <h2>Why Choose Us!</h2>
                            <p>Hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="why-choose-grids clearfix">
                            <div class="grid">
                                <i class="fi flaticon-network-1"></i>
                                <h3>Professional Team</h3>
                                <p>Whole of her lower arm towards the viewer. Gregor then turned to look out the window</p>
                            </div>
                            <div class="grid">
                                <i class="fi flaticon-circular-label-with-certified-stamp"></i>
                                <h3>Certified engineers</h3>
                                <p>Whole of her lower arm towards the viewer. Gregor then turned to look out the window</p>
                            </div>
                            <div class="grid">
                                <i class="fi flaticon-chip"></i>
                                <h3>Latest Technology</h3>
                                <p>Whole of her lower arm towards the viewer. Gregor then turned to look out the window</p>
                            </div>
                            <div class="grid">
                                <i class="fi flaticon-24-hours"></i>
                                <h3>27/7 Support</h3>
                                <p>Whole of her lower arm towards the viewer. Gregor then turned to look out the window</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end why-choose-section -->


        <!-- start testimonials-section -->
        <section class="testimonials-section">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-6 col-lg-offset-3">
                        <div class="section-title-s4">
                            <span>Testimonials</span>
                            <h2>What People say’s About us</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-4">
                        <div class="testimonial-left-img-holder">
                            <img src="assets/images/testimonials/man.png" alt>
                        </div>
                    </div>
                    <div class="col col-md-8">
                        <div class="testimonial-grids testimonial-slider clearfix">
                            <div class="grid">
                                <div class="quote">
                                    <i class="fi flaticon-quote"></i>
                                    <p>“Recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look ”</p>
                                </div>
                                <div class="client-info">
                                    <div class="img-holder">
                                        <img src="assets/images/testimonials/img-1.jpg" alt>
                                    </div>
                                    <div class="details">
                                        <h5>Michel jhon</h5>
                                        <p>Manager of Automation</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="quote">
                                    <i class="fi flaticon-quote"></i>
                                    <p>“Recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look ”</p>
                                </div>
                                <div class="client-info">
                                    <div class="img-holder">
                                        <img src="assets/images/testimonials/img-2.jpg" alt>
                                    </div>
                                    <div class="details">
                                        <h5>Alaska</h5>
                                        <p>Business Officer</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="quote">
                                    <i class="fi flaticon-quote"></i>
                                    <p>“Recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look ”</p>
                                </div>
                                <div class="client-info">
                                    <div class="img-holder">
                                        <img src="assets/images/testimonials/img-3.jpg" alt>
                                    </div>
                                    <div class="details">
                                        <h5>Shain on</h5>
                                        <p>Manager of Automation</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end testimonials-section -->


        <!-- start featured-project-section -->
        <section class="featured-project-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
                        <div class="section-title-s5">
                            <span>Featured Projects</span>
                            <h2>Explore What We've Done</h2>
                            <p>Hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-area">
                <div class="project-grids clearfix">
                    <div class="grid">
                        <div class="overlay">
                            <span class="count">01.</span>
                            <h3>Welding Processing</h3>
                            <p>Travelling salesman and above it there hung a picture that he had recently cut out</p>
                            <a href="#" class="theme-btn">Read More</a>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="overlay">
                            <span class="count">02.</span>
                            <h3>Materials project</h3>
                            <p>Travelling salesman and above it there hung a picture that he had recently cut out</p>
                            <a href="#" class="theme-btn">Read More</a>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="overlay">
                            <span class="count">03.</span>
                            <h3>Oil & Gas project</h3>
                            <p>Travelling salesman and above it there hung a picture that he had recently cut out</p>
                            <a href="#" class="theme-btn">Read More</a>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="overlay">
                            <span class="count">04.</span>
                            <h3>Power Energy project</h3>
                            <p>Travelling salesman and above it there hung a picture that he had recently cut out</p>
                            <a href="#" class="theme-btn">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end featured-project-section -->


        <!-- start partners-section -->
        <section class="partners-section">
            <h2 class="hidden">Partners</h2>
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="partner-grids partners-slider">
                            <div class="grid">
                                <img src="assets/images/partners/img-1.jpg" alt>
                            </div>
                            <div class="grid">
                                <img src="assets/images/partners/img-2.jpg" alt>
                            </div>
                            <div class="grid">
                                <img src="assets/images/partners/img-3.jpg" alt>
                            </div>
                            <div class="grid">
                                <img src="assets/images/partners/img-4.jpg" alt>
                            </div>
                            <div class="grid">
                                <img src="assets/images/partners/img-5.jpg" alt>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end partners-section -->


        <!-- start fun-fact-section -->
        <section class="fun-fact-section">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="fun-fact-grids clearfix">
                            <div class="grid">
                                <div class="info">
                                    <i class="fi flaticon-worker"></i>
                                    <h3><span class="odometer" data-count="1200">00</span></h3>
                                    <p>Employed</p>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="info">
                                    <i class="fi flaticon-engineer"></i>
                                    <h3><span class="odometer" data-count="1500">00</span></h3>
                                    <p>Project Completed</p>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="info">
                                    <i class="fi flaticon-trophy"></i>
                                    <h3><span class="odometer" data-count="25">00</span>+</h3>
                                    <p>Award Won</p>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="info">
                                    <i class="fi flaticon-like-1"></i>
                                    <h3><span class="odometer" data-count="100">00</span>%</h3>
                                    <p>Satisfied customers</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end fun-fact-section -->


        <!-- start team-section -->
        <section class="team-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
                        <div class="section-title-s5">
                            <span>Our Team</span>
                            <h2>Dedicated Team</h2>
                            <p>Hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="team-grids">
                            <div class="grid">
                                <div class="img-social">
                                    <div class="img-holder">
                                        <img src="assets/images/team/img-1.jpg" alt>
                                    </div>
                                    <div class="social">
                                        <ul>
                                            <li><a href="#"><i class="ti-facebook"></i></a></li>
                                            <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                            <li><a href="#"><i class="ti-linkedin"></i></a></li>
                                            <li><a href="#"><i class="ti-pinterest"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="details">
                                    <h3>Michel Jhon</h3>
                                    <span>Mechanical Engineering</span>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="img-social">
                                    <div class="img-holder">
                                        <img src="assets/images/team/img-2.jpg" alt>
                                    </div>
                                    <div class="social">
                                        <ul>
                                            <li><a href="#"><i class="ti-facebook"></i></a></li>
                                            <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                            <li><a href="#"><i class="ti-linkedin"></i></a></li>
                                            <li><a href="#"><i class="ti-pinterest"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="details">
                                    <h3>Wilium Mice</h3>
                                    <span>Site Manager</span>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="img-social">
                                    <div class="img-holder">
                                        <img src="assets/images/team/img-3.jpg" alt>
                                    </div>
                                    <div class="social">
                                        <ul>
                                            <li><a href="#"><i class="ti-facebook"></i></a></li>
                                            <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                            <li><a href="#"><i class="ti-linkedin"></i></a></li>
                                            <li><a href="#"><i class="ti-pinterest"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="details">
                                    <h3>Jonthon teat</h3>
                                    <span>Testing Manager</span>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="img-social">
                                    <div class="img-holder">
                                        <img src="assets/images/team/img-4.jpg" alt>
                                    </div>
                                    <div class="social">
                                        <ul>
                                            <li><a href="#"><i class="ti-facebook"></i></a></li>
                                            <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                            <li><a href="#"><i class="ti-linkedin"></i></a></li>
                                            <li><a href="#"><i class="ti-pinterest"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="details">
                                    <h3>Shown kel</h3>
                                    <span>Cheif Officer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end team-section -->


        <!-- start quote-section -->
        <section class="quote-section">
            <div class="content-area clearfix">
                <div class="left-col">
                    <h2>Leading Innovators in Soap & Detergent Machinery Since 1965</h2>
                    <div class="details">
                        <p>Patil Machines Pvt Ltd, established in 1965, was the first in India to develop a Plodder for toilet and laundry soap. With decades of experience, we continue to lead the industry by delivering advanced, reliable machinery for soap and detergent production.</p>
                        <div class="clearfix">
                            <ul>
                                <li><i class="ti-check"></i> First Indian company to develop Plodder machinery (1965)</li>
                                <li><i class="ti-check"></i> Expertise in soap, detergent & chemical plant solutions</li>
                            </ul>
                            <ul>
                                <li><i class="ti-check"></i> Turnkey project execution – from design to commissioning</li>
                                <li><i class="ti-check"></i> Trusted by national and international clients</li>
                            </ul>
                        </div>
                        <div class="btns">
                            <a href="services-s2.html" class="theme-btn">Our Services</a>
                            <a href="contact.html" class="theme-btn-s3">Contact with us</a>
                        </div>
                    </div>
                </div>
                <div class="right-col">
                    <div class="quote-area">
                        <h3>Enquiry Form</h3>
                        <p>Submit your enquiry and we'll get back to you soon</p>

                        <form method="POST" action="/submit" class="contact-validation-active" id="contact-quote-form">
                            <div>
                                <input type="text" class="form-control" name="contact[name]" id="name" placeholder="Name*" required>
                            </div>
                            <div>
                                <input type="email" class="form-control" name="contact[email]" id="email" placeholder="Email*" required>
                            </div>
                            <div>
                                <input type="tel" pattern="[0-9+()\- ]{7,15}" class="form-control" name="contact[phone]" id="phone" placeholder="Phone No*" required>
                            </div>
                              <div>

    <select name="contact[inquiryType]" id="inquiryType" class="form-control" required>
      <option value="" disabled selected>Select Inquiry Type*</option>
      <option value="General">General Inquiry</option>
      <option value="Partnership">Partnership</option>
      <option value="Support">Support</option>
      <option value="Quote">Request a Quote</option>
    </select>
  </div>
                            <div>
                                <textarea class="form-control" name="contact[note]"  id="note" placeholder="Case Description..." class="form-control"></textarea>
                            </div>
                            <div class="submit-area">
                                <button type="submit" class="theme-btn">Submit</button>
                                <div id="loader">
                                    <i class="ti-reload"></i>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- end quote-section -->


       





    
    </div>
    <!-- end of page-wrapper -->



    <!-- All JavaScript files
    ================================================== -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins for this template -->
    <script src="assets/js/jquery-plugin-collection.js"></script>

    <!-- Custom script for this template -->
    <script src="assets/js/script.js"></script>


    <script>
        //Read More
  document.getElementById("read-more-about").addEventListener("click", function (e) {
    e.preventDefault();
    document.getElementById("short-about").style.display = "none";
    document.getElementById("full-about").style.display = "block";
  });

  //Contact No
  
  const phoneInput = document.querySelector('input[type="tel"]');
phoneInput.addEventListener('input', () => {
  phoneInput.value = phoneInput.value.replace(/[^0-9+()\- ]/g, '');
});

</script>








